PORT=5000

# HOMELAB_RETRIEVER_VERSION=v1_3
# HOMELAB_RETRIEVER_FALLBACK_VERSION=v1_2
$env:HOMELAB_RETRIEVER_VERSION='v1_3'
$env:HOMELAB_SEMANTIC_BRIDGE_MODE='server'
$env:HOMELAB_SEMANTIC_BRIDGE_URL='http://127.0.0.1:8765'
$env:HOMELAB_SEMANTIC_BRIDGE_SHADOW='true'
$env:HOMELAB_SEMANTIC_ROUTER_GATE='true'
$env:HOMELAB_SEMANTIC_RETRIEVAL_ENABLED='true'